<meta charset="utf-8">
<body>
<a href="../doomdark/">next on 2020 ZX Spectrum Tour</a>
<nav>
</nav>
<article>
<h1>Quazatron</h1>
<p>Quazatron (ZX Spectrum, 1986) has a font that is
a redrawing of Motter Tektura (1971).</p>
<p><img alt="Quazatron" src="gal-f0-t0-s48.png" title="Quazatron font">
<br>
<img alt="Alphabet" src="gal-f0-t1-s48.png" title="Alphabet in Quazatron font"></p>
<p>It has several unusual features:</p>
<ul>
<li>caps that have descenders (A, B, E, etc)</li>
<li>wild numerals that have ascenders and descenders in non-standard arrangements</li>
<li>not monospace in this 8-bit version (the M and W are double width).</li>
</ul>
<p>Compared to Motter Tektura,
the G is redrawn (and improved),
the S is shifted down (so that it descends) and is drawn completely.
In Motter Tektura many of the numerals are
deliberately clipped at the top;
this version draws them in full, but making them very tall in the process.</p>
<p>All 8 pixel rows are used, sometimes all 8 in one glyph.
The result is text that clashes horribly with the row above and below.
Quazatron the game "fixes" this by leaving a blank row in
between rows with text,
effectively putting 8 pixels of leading on an 8 pixel body.</p>
<h2>Technical notes</h2>
<p>The basic Quazatron character set is unusual:</p>
<ul>
<li>It does not use the ASCII ordering.</li>
<li>Only the glyphs for 0-9, A-Z, dot, space are present.</li>
<li>The M and W glyphs are double wide and spread over 2 8x8 tiles.</li>
</ul>
<p>The 2 8x8 tiles for M and W are not contiguous.
M is tile 22 and tile 38;
W is tile 32 and tile 40.
In each case the left-hand tile is in the usual position in the
alphabet.</p>
<p>This requires a meld before tracing.
The meld joins two images into one.</p>
<h2>Other</h2>
<p>It's possible that Paradroid (same author) has an extended
version of this font that includes lower case:</p>
<p>https://fontsinuse.com/uses/20184/paradroid</p>
<h2>END</h2>
</article>

