<meta charset="utf-8">
<title>Arch8: Archive for 8-bit fonts</title>
<body>
<nav>
</nav>
<article>
<h1>Arch8: Archive for 8-bit fonts</h1>
<p>Welcome to <em>Arch8</em>.
The archive is under construction,
for now please browse our temporary exhibit from the ZX Spectrum
collection:</p>
<ul>
<li><a href="doomdark/"><img alt="Doomdark's Revenge" src="media/doomdark.png"></a> a fantasy strategy game</li>
<li><a href="quazatron/"><img alt="Quazatron" src="media/quazatron.png"></a> a robot combat and upcycling game</li>
<li><a href="spellbound/"><img alt="Spellbound" src="media/spellbound.png"></a> a puzzle and magic adventure game</li>
<li><a href="timegate/"><img alt="Time-Gate" src="media/timegate.png"></a> a MICR-inspired font</li>
<li><a href="tll/"><img alt="TLL" src="media/tll.png"></a> a jet fighter training game</li>
</ul>
<p>Thank you.</p>
<p>∎</p>
</article>

