<meta charset="utf-8">
<body>
<nav>
</nav>
<article>
<h1>The Base (ZX Spectrum, 1988)</h1>
<p><img alt="The Base" src="gal-f0-t0-s48.png"></p>
<p>Only the heavy version @1102 is shown.</p>
<p><img alt="Alphabet" src="gal-f0-t1-s48.png"></p>
<h2>Capture Notes</h2>
<p>This game seems to offer several fonts.
offset 334, immediately followed by 1102, and 1870.</p>
<p>@334 is well proportioned upright suitable for large amounts of
screen text.</p>
<p>@1102 is a heavier version, but the capitals are out of
proportion to the lower case.</p>
<p>@1870 is a more digital style, possibly reminiscent of MICR or
Etch-a-Sketch.</p>
<h2>∎</h2>
</article>

