<meta charset="utf-8">
<body>
<a href="../quazatron/">next on 2020 ZX Spectrum Tour</a>
<nav>
</nav>
<article>
<h1>TLL aka Tornado Low Level</h1>
<p>TLL (ZX Spectrum, 1984)</p>
<p><img alt="TLL" src="gal-f0-t0-s48.png">
<img alt="TLL" src="gal-f0-t1-s48.png"></p>
<p>The main font is inspired by Broadway.
TLL makes very effective use of the 8 pixel monospace
restriction by using extreme contrast to fill out the square and
give impression of speed.</p>
<p>TLL has two fonts, one short used for scoring in the game:
It only has 0-9, S, H, space, and a possible punctuation character.
The main font, used for the game select page UI, is still
limited, but has A to Z, space, 0 to 9, /, and a possible full square.</p>
<p>In the sample above, the scoring numerals are on the bottom line.</p>
<h2>Technical notes</h2>
<p>The larger font @21079 is used for the "UI".</p>
<p>The font @17577 has only numerals
and is used for the main game (for scores).</p>
<p>I have combined these two fonts into one, putting the game
numerals at U+1D7F6 (MATHEMATICAL MONOSPACE DIGIT ZERO),
and the other glyphs at their more usual ASCII positions.
Note TLL has a reduced glyph set and appears in memory with a
non-standard ordering: letters, space, numbers.
And in one set the numbers go 0 to 9, the other goes 1 to 9, 0.
That tripped me up.</p>
<h2>∎</h2>
</article>

