<meta charset="utf-8">
<body>
<a href="../tll/">next on 2020 ZX Spectrum Tour</a>
<nav>
</nav>
<article>
<h1>Time-Gate (ZX Spectrum, 1983)</h1>
<p>A MICR-inspired font with more conventional weight distribution.</p>
<p><img alt="Time-Gate" src="gal-f0-t0-s48.png">
<img alt="AKU4 Sample" src="gal-f0-t1-s48.png"></p>
<p>Note the compact 5-pixel high design,
probably only possible because only capitals are drawn.</p>
<h2>∎</h2>
</article>

